# ----------------------
# Environment Variables
# ----------------------
.env

# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
venv/
*.sqlite3

# ----------------------
# Django
# ----------------------
db.sqlite3
media/
staticfiles/

# ----------------------
# Node / Frontend
# ----------------------
node_modules/
dist/
build/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db